@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    padding-left: calc(100vw - 100%);
    box-sizing: border-box;
    @apply w-full bg-dark text-light;
}
*:focus {
    @apply outline-8 outline-primary;
}

main {
    @apply grid gap-4;
}

h1 {
    @apply text-2xl font-extrabold;
}

h2 {
    @apply text-xl font-bold text-primary;
}

h3 {
    @apply text-base font-semibold;
}

h4 {
    @apply text-sm md:text-base md:font-medium;
}

p {
    @apply text-xs text-gray xs:text-sm;
}

input {
    @apply rounded-xl p-1 px-3  dark:bg-dark-2 dark:text-light;
}

select {
    @apply h-8 rounded-xl p-1 px-3 dark:bg-dark-2 dark:text-light;
}

button {
    @apply text-light dark:bg-dark-3;
}

.btn-red {
    @apply bg-red-600 dark:hover:bg-red-700 !important;
}

.btn-transparent {
    @apply bg-transparent !important;
}

.btn-dark-2 {
    @apply bg-dark-2 !important;
}

.pokemon-team-row {
    @apply grid grid-cols-3 place-items-center rounded-2xl dark:bg-dark-2 md:grid-cols-6;
}

.pokemon-card {
    @apply relative aspect-[7/10] w-full border border-gray p-2 dark:bg-dark-2;
}

a.pokemon-card {
    @apply dark:hover:bg-dark-2;
}

.pokemon-grid-data-layout {
    @apply grid grid-cols-3 rounded sm:grid-cols-6;
}

.pokemon-grid-card-layout {
    @apply grid grid-cols-2 rounded-2xl xs:grid-cols-3 sm:grid-cols-4 lg:grid-cols-6;
}

.favorite {
    @apply border-gold;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
