@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding-left: calc(100vw - 100%);
    box-sizing: border-box;
    @apply w-full bg-dark text-light;
}

main {
    @apply grid gap-4;
}

h1 {
    @apply text-2xl font-extrabold;
}

h2 {
    @apply text-xl font-bold text-primary;
}

h3 {
    @apply text-base font-semibold;
}

h4 {
    @apply text-base font-medium;
}

p {
    @apply text-sm text-gray;
}

input {
    @apply rounded-xl p-1 px-3  dark:bg-dark-2 dark:text-light;
}

select {
    @apply h-8 rounded-xl p-1 px-3 dark:bg-dark-2 dark:text-light
}

button {
    @apply text-light dark:bg-dark-3;
}

button[type="button"] {
    @apply text-xl font-bold text-primary dark:bg-dark-3;
}

.btn-red {
    @apply bg-red-600 dark:hover:bg-red-700 !important;
}

.btn-transparent {
    @apply bg-transparent !important;
}

.pokemon-card-grid {
    @apply grid grid-cols-2 place-items-center gap-4 md:grid-cols-3 lg:grid-cols-6;
}

.pokemon-card {
    @apply relative aspect-[7/10] w-full rounded-2xl border-4 border-silver dark:bg-dark-2;
}
a.pokemon-card {
    @apply dark:hover:bg-dark-3;
}

.favorite {
    @apply border-gold;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
