@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding-left: calc(100vw - 100%);
    box-sizing: border-box;
    @apply w-full bg-dark text-light;
}

main {
    @apply grid gap-4;
}

h1 {
    @apply text-2xl font-extrabold;
}

h2 {
    @apply text-xl font-bold text-primary;
}

h3 {
    @apply text-lg font-semibold;
}

h4 {
    @apply text-base font-medium;
}

p {
    @apply text-sm;
}

input {
    @apply rounded-xl p-1 px-3  dark:bg-dark-2 dark:text-light;
}

select {
    @apply rounded-xl p-1 px-3 dark:bg-dark-2 dark:text-light;
}

button {
    @apply text-light dark:bg-dark-3;
}

button[type="button"] {
    @apply text-xl font-bold text-primary dark:bg-dark-3;
}

.pokemon-card-grid {
    @apply grid grid-cols-2 place-items-center gap-2 md:grid-cols-4 xl:grid-cols-6;
}

.pokemon-card {
    @apply aspect-[4/5] w-full rounded-2xl border-4 border-gray-400 bg-dark-2 dark:hover:bg-dark-3;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
